fastapi

uvicorn
httpx
playwright
psutil
python-dotenv
pydantic
pydantic-settings
pytest
pytest-asyncio
pyttsx3
SpeechRecognition
edge-tts
openai-whisper
sounddevice
tqdm
python-multipart

# playwright install firefox